#header {
    background-color: #ff3227;
    height: 4.3rem;
    align-items: center;
    display: flex;
    padding: 0rem;
    margin: 0rem;
    top: 0;
    width: 100%;
    margin-bottom: 1.2rem;
}
#header .toolbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0rem 1.2rem;
}
#header img {
    height: 4rem;
    margin: 0px;
    padding: 0px;
}
