name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    environment:
      name: Release
    steps:
      - uses: actions/create-github-app-token@v2
        id: release-token
        with:
          app-id: ${{ vars.RELEASE_APP_ID }}
          private-key: ${{ secrets.RELEASE_APP_SECRET_KEY }}
      - uses: googleapis/release-please-action@v4
        id: release-please
        with:
          token: ${{ steps.release-token.outputs.token }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
